%div#subtitle.text-center.text-info
%div#wave-timeline
%div#waveform
.row{:style => "margin: 30px 0"}
  .col-sm-6
    %p
      Shift-click on a region to play it from its beginning.
      %br
      Split regions between segments (As many slides as segments are generated)
      %br
      Mark/drag word-start-points inside regions
      %br
      Click on each word-start-point, enter word/phrase for it, and 'Save'
  .col-sm-1
    %button.btn.btn-primary.btn-block{"data-action" => "play"}
      %span#play
        %i.glyphicon.glyphicon-play
        Play
      %span#pause{:style => "display: none;"}
        %i.glyphicon.glyphicon-pause
        Pause
  .col-sm-1
    %button.btn.btn-primary.btn-block{ 'data-action' => 'split-region' }
      Split
  .col-sm-1
    %button.btn.btn-primary.btn-block{ 'data-action' => 'mark-word' }
      Mark
  .col-sm-2
    %button.btn.btn-info.btn-block{"data-action" => "export", :title => "Export annotations to JSON"}
      %i.glyphicon.glyphicon-file
      Export
%form.hide{:name => "edit", :role => "form", :style => "margin: 30px 0;"}
  .form-group.col-md-3
    %label{:for => "start"} Start
    %input#start.form-control{:name => "start", disabled: 'disabled'}
  .form-group.col-md-3
    %label{:for => "end"} End
    %input#end.form-control{:name => "end", disabled: 'disabled'}
  .form-group.col-md-3
    %label{:for => "note"} Text
    %textarea#note.form-control{:name => "note", :rows => "1"}
  .form-group.col-md-3
    %label{:for => "type"} Type
    %select#type.form-control{:name => "type", disabled: 'disabled'}
      %option{ value: 'segment' } Segment
      %option{ value: 'segment_item' } Phrase
  .form-group.col-md-2
    %button.btn.btn-success{:type => "submit"} Save
  .form-group.col-md-2
    %button.btn.btn-danger{"data-action" => "delete-region", :type => "button"} Delete
.form-group.col-md-2
  %button#ppt-loader.btn.btn-default{"data-action" => "load-ppt", :type => "button" } Load ppt
%iframe#editor{ seamless: true, height: '600px', width: '100%' }
