.container
  .row#step2
    .col-md-6
      %p#drop-music.drop.lead.pull-center
        Drop your favorite
        = succeed "-file" do
          %i.glyphicon.glyphicon-music
        here
    .col-md-6
      %p#drop-subtitles.drop.lead.pull-center
        %b Then
        Optionally, drop your .srt here
  #step3
    #subtitle.text-center.text-info
    #waveform
  #wave-timeline
  .row{:style => "margin: 30px 0"}
    .col-sm-6
      %p
        Shift-click on a region to play it from its beginning.
        %br
        Split regions between segments (As many slides as segments are generated)
        %br
        Mark/drag word-start-points inside regions
        %br
        Click on each word-start-point, enter word/phrase for it, and 'Save'
    .col-sm-1
      %button.btn.btn-primary.btn-block{"data-action" => "play"}
        %span#play
          %i.glyphicon.glyphicon-play
          Play
        %span#pause{:style => "display: none;"}
          %i.glyphicon.glyphicon-pause
          Pause
    .col-sm-2#btn-mark
      %button.btn.btn-primary.btn-block{ 'data-action' => 'mark-word' }
        %i.glyphicon.glyphicon-plus
        Word/Phrase
    .col-sm-2
      %button.btn.btn-info.btn-block{"data-action" => "export", :title => "Export annotations to JSON"}
        %i.glyphicon.glyphicon-file
        Export
  %form.form-inline.hide{:name => "edit", :role => "form", :style => "margin: 30px 0;"}
    .form-group.col-md-3.hide
      %label{:for => "start"} Start
      %input#start.form-control{:name => "start", disabled: 'disabled'}
    .form-group.col-md-3.hide
      %label{:for => "end"} End
      %input#end.form-control{:name => "end", disabled: 'disabled'}
    .form-group.col-md-3.animation-select
      %label{:for => "animation"} Animation
      %select#animation.form-control{:name => "animation"}
        %option{ value: 'bounceIn' } bounceIn
        %option{ value: 'bounceInDown' } bounceInDown
        %option{ value: 'bounceInLeft' } bounceInLeft
        %option{ value: 'bounceInRight' } bounceInRight
        %option{ value: 'bounceInUp' } bounceInUp
        %option{ value: 'fadeIn' } fadeIn
        %option{ value: 'fadeInDown' } fadeInDown
        %option{ value: 'fadeInDownBig' } fadeInDownBig
        %option{ value: 'fadeInLeft' } fadeInLeft
        %option{ value: 'fadeInLeftBig' } fadeInLeftBig
        %option{ value: 'fadeInRight' } fadeInRight
        %option{ value: 'fadeInRightBig' } fadeInRightBig
        %option{ value: 'fadeInUp' } fadeInUp
        %option{ value: 'fadeInUpBig' } fadeInUpBig
        %option{ value: 'flipInX' } flipInX
        %option{ value: 'flipInY' } flipInY
        %option{ value: 'lightSpeedIn' } lightSpeedIn
        %option{ value: 'rotateIn' } rotateIn
        %option{ value: 'rotateInDownLeft' } rotateInDownLeft
        %option{ value: 'rotateInDownRight' } rotateInDownRight
        %option{ value: 'rotateInUpLeft' } rotateInUpLeft
        %option{ value: 'rotateInUpRight' } rotateInUpRight
        %option{ value: 'slideInDown' } slideInDown
        %option{ value: 'slideInLeft' } slideInLeft
        %option{ value: 'slideInRight' } slideInRight
        %option{ value: 'slideInUp' } slideInUp
        %option{ value: 'rollIn' } rollIn
        %option{ value: 'zoomIn' } zoomIn
        %option{ value: 'zoomInDown' } zoomInDown
        %option{ value: 'zoomInLeft' } zoomInLeft
        %option{ value: 'zoomInRight' } zoomInRight
        %option{ value: 'zoomInUp' } zoomInUp
    .form-group.col-md-3.note-text
      %label{:for => "note"} Text
      %textarea#note.form-control{:name => "note", :rows => "1"}
    .form-group.col-md-3.hide
      %label{:for => "type"} Type
      %select#type.form-control{:name => "type"}
        %option{ value: 'segment' } Segment
        %option{ value: 'segment_item' } Phrase
    .form-group.col-md-1.btn-save
      %button.btn.btn-success{:type => "submit"} Save
    #region-actions.row
      .form-group.col-md-1.btn-split
        %button.btn.btn-primary{ 'data-action' => 'split-region' } Split
      .form-group.col-md-1.btn-merge
        %button.btn.btn-danger{"data-action" => "delete-region", :type => "button"} Merge
    .form-group.col-md-1.btn-delete
      %button.btn.btn-danger{"data-action" => "delete-region", :type => "button"} Delete
  .row
    .col-md-3
      %button#ppt-loader.btn.btn-default{"data-action" => "load-ppt", :type => "button" } Load ppt
%br
%br
%iframe.row#editor{ seamless: true, height: '600px', width: '100%' }
